*{
    font-size: xx-large;
}
#button_1{
    background-color: blue;
    width: 100%;
    padding: 50px;
    border-radius: 25px;
    border-color: white;
    box-shadow: 
}
#heading_1{
    text-align: center;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
}